<section class="sidebar">
  <nav class="side-nav">
    <span class="logo-icon"></span>
    <h1 class="logo-dash">logo</h1>
    <ul class="side-nav-list">
      <li>
        <%= link_to root_path, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            home
          </span>
          <span class="dash-link">Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_path, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            dashboard
          </span>
          <span class="dash-link">Dashboard</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_path, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            inventory_2
          </span>
          <span class="dash-link">Products</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            category
          </span>
          <span class="dash-link">Categories</span>
        <% end %>
      </li>
      <li>
        <%= link_to admin_path, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            inventory
          </span>
          <span class="dash-link">Orders</span>
        <% end %>
      </li>
    </ul>
    <div class="dash-profile-container">
      <%# Inside this area I would like to have the admin's username and profile picture %>
      <div>
        <%= link_to destroy_admin_session_path, method: :delete, data: { turbo_method: :delete }, class: "side-nav-link" do %>
          <span class="dash-icon material-symbols-outlined">
            logout
          </span>
          <span class="dash-link">Logout</span>
        <% end %>
      </div>
    </div>
  </nav>
</section>